extends layout

block content
  h1= title

  p Welcome to lab 6.
  // Wrapper
  #wrapper
    // CONTACT INFO
    #contactInfo
      h2 Contact Info
      p
        strong Name:
        | <span id='contactInfoName'></span>
        br
        strong Telephone:
        | <span id='contactInfoTel'></span>
        br
        strong Email:
        | <span id='contactInfoEmail'></span>
        br
    // /CONTACT INFO
    // CONTACT LIST
    h2 Contact List
    #contactList
      table
        thead
          th Name
          th Delete?
        tbody
    // /CONTACT LIST
    // ADD CONTACT
    h2 Add Contact
    #addContact
      fieldset
        input#inputContactName(type='text', placeholder='Name')
        br
        input#inputContactTel(type='text', placeholder='Telephone Number')
        br
        input#inputContactEmail(type='text', placeholder='Email')
        br
        button#btnAddContact Add Contact
    // /ADD CONTACT
  // /WRAPPER
